bucket_name = "dannytfbootcamp2023"
bucket_tag = "bucket tag example"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"